@font-face {
  font-family: main;
  src: url(assets/papyrus.ttf);
}
 
body {
  font-family: main;
  margin: 0;
  padding: 0;
  background-color: #e0fcff;
}

.main-title {
  color: #333333;
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.subtitle {
  color: #666666;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.header-photo {
  display: block;
  margin: 2rem auto;
  border-radius: 20%;
  width: 300px;
  height: 170px;
  transition: 5s;
}
.header-photo:hover {
  transform: rotate(360deg);
}

.about-title {
  color: #5a5a5a;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
.about-list {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 1rem auto;
  font-size: 1.5rem;
  width: 100vw;
  text-align: center;
  
}
.about-list li {
  margin: 0.5rem 0;
  border-radius: 10px;
  transition: 0.3s;
  padding: 0.5rem;
}
.about-list li:hover {
  font-size: 1.6rem;
  background-color: #0606060a;
}