@font-face {
  font-family: main;
  src: url(assets/papyrus.ttf);
}
 
body {
  font-family: main;
  margin: 0;
  padding: 0;
  background-color: #e0fcff;
}

.main-title {
  color: #333333;
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.subtitle {
  color: #666666;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.header-photo {
  display: block;
  margin: 2rem auto;
  border-radius: 20%;
  width: 300px;
  height: 170px;
}
.about-title {
  color: #5a5a5a;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}